﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Banque-Route</h1>
<p>La banque qui vous suit sur la route</p>

<div>
    <h2>Simuler un placement financier</h2>
    <div>
        <div style="display: flex; flex-direction: column;">
            <label>Type de placement</label>
            <select id="placement">
            </select>
        </div>
        <div style="display: flex; flex-direction: column;">
            <label>Investissement initial</label>
            <input type="number" id="initInvest" placeholder="100€" />
        </div>
        <div style="display: flex; flex-direction: column;">
            <label>Ajout mensuel</label>
            <input type="number" id="mensualInvest" placeholder="10€" value="0" step=0.001 />
        </div>
        <div style="display: flex; flex-direction: column;">
            <label>Durée (en années)</label>
            <input type="number" id="periodInvest" placeholder="12" value="12" />
        </div>
        <span id="investResult"></span>
        <input type="button" value="Calculer" id="computePlacement" />
    </div>

    <script>
        var investmentTypes = [];

        function bindInvestmentValues() {
            let placementOption = document.getElementById("placement");
            for (let i of investmentTypes) {
                placementOption.innerHTML += "<option value='" + i.investmentType + "'>" + i.investmentName + "</option>";
            }

            document.getElementById("computePlacement").onclick = computeInvestment;
        }

        function computeInvestment() {
            let choosenInvestType = parseInt(document.getElementById("placement").selectedOptions[0].value);
            let choosenInitInvest = parseFloat(document.getElementById("initInvest").value);
            let choosenMensualInvest = parseFloat(document.getElementById("mensualInvest").value);
            let choosenPeriodInvest = parseInt(document.getElementById("periodInvest").value) *12;

            let dataSend = {
                periodInvest: choosenPeriodInvest,
                mensualInvest: choosenMensualInvest,
                initialInvest: choosenInitInvest,
                investmentType: choosenInvestType
            }

            console.log(dataSend);

            $.ajax({
                url: "/api/investment/compute",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(dataSend),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    document.getElementById("investResult").innerHTML = "Capital final : " + result;
                }
            });
        }

        $.ajax({
            url: "/api/investments",
            success: function (result) {
                investmentTypes = result;
                console.log(investmentTypes);
                bindInvestmentValues();
            }
        });
    </script>
</div>

<div>
    <h2>Simuler un crédit immobilier</h2>
    <div>
        <div style="display: flex; flex-direction: column;">
            <label>Type de taux</label>
            <select id="rate">
            </select>
        </div>
        <div style="display: flex; flex-direction: column;">
            <label>Emprunt</label>
            <input type="number" id="borrowAmount" placeholder="100€" />
        </div>
        <div style="display: flex; flex-direction: column;">
            <label>Durée</label>
            <input type="number" id="borrowDuration" placeholder="10€" value="0" />
        </div>
        <span id="mortgageResult"></span>
        <input type="button" value="Calculer" id="computeMortgage" />
    </div>

    <script>
        var rateTypes = [];

        function bindMortgageValues() {
            let rateOption = document.getElementById("rate");
            for (let i of rateTypes) {
                switch (i) {
                    case 0:
                        rateOption.innerHTML += "<option value='" + i + "'>Bon</option>";
                        break;
                    case 1:
                        rateOption.innerHTML += "<option value='" + i + "'>Vraiment bon</option>";
                        break;
                    case 2:
                        rateOption.innerHTML += "<option value='" + i + "'>Exceptionnel</option>";
                        break;
                    default:
                        rateOption.innerHTML += "<option value='" + i + "'>" + i + "</option>";
                        break;
                }
            }

            document.getElementById("computeMortgage").onclick = computeMortgage;
        }

        function computeMortgage() {
            let choosenRateType = parseInt(document.getElementById("rate").selectedOptions[0].value);
            let choosenBorrowAmount = parseFloat(document.getElementById("borrowAmount").value);
            let choosenDuration = parseFloat(document.getElementById("borrowDuration").value);

            let dataSend = {
                annualRate: choosenRateType,
                borrowAmount: choosenBorrowAmount,
                duration: choosenDuration
            }

            console.log(dataSend);
            /*
            $.ajax({
                url: "/api/mortgage/compute",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(dataSend),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    document.getElementById("mortgageResult").innerHTML = "Mensualités : " + result;
                }
            });
            */
        }

        $.ajax({
            url: "/api/mortgage/ratetypes",
            success: function (result) {
                rateTypes = result;
                console.log(investmentTypes);
                bindMortgageValues();
            }
        });
    </script>
</div>
