<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!investments"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="investments">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Taux</th>
      <th>Plafond</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of investments">
      <td>{{ i.investmentName }}</td>
      <td>{{ i.rate * 100 }} %</td>
      <td>{{ i.ceiling }} €</td>
    </tr>
  </tbody>
</table>
